In [1]:
import pandas as pd
import numpy as np 
from sklearn.naive_bayes import MultinomialNB

In [2]:
Tweets = pd.read_csv("https://ninjasfiles.s3.amazonaws.com/attachment9844a9a7221e2e5b971f972051629676e0d2.csv")
Tweets.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [3]:
Tweets.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692184e+17,0.900169,0.638298,0.082650
std,7.791112e+14,0.162830,0.330440,0.745778
min,5.675883e+17,0.335000,0.000000,0.000000
25%,5.685592e+17,0.692300,0.360600,0.000000
50%,5.694779e+17,1.000000,0.670600,0.000000
75%,5.698905e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

In [4]:
Tweets.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [5]:
Tweets = Tweets.drop(["tweet_id","name","airline_sentiment_gold","negativereason_gold","tweet_coord","negativereason","negativereason_confidence","retweet_count","tweet_location"], axis = 1)

In [6]:
Tweets.isnull().sum()

airline_sentiment                  0
airline_sentiment_confidence       0
airline                            0
text                               0
tweet_created                      0
user_timezone                   4820
dtype: int64

In [7]:
Tweets.head()

,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,user_timezone
0,neutral,1.0000,Virgin America,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,Eastern Time (US & Canada)
1,positive,0.3486,Virgin America,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,Pacific Time (US & Canada)
2,neutral,0.6837,Virgin America,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,Central Time (US & Canada)
3,negative,1.0000,Virgin America,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,Pacific Time (US & Canada)
4,negative,1.0000,Virgin America,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,Pacific Time (US & Canada)

In [8]:
set(Tweets["user_timezone"])

{nan,
 'Santiago',
 'Alaska',
 'Mountain Time (US & Canada)',
 'Quito',
 'Guadalajara',
 'Taipei',
 'Madrid',
 'Paris',
 'Islamabad',
 'Wellington',
 'Istanbul',
 'Beijing',
 'Bogota',
 'Pacific Time (US & Canada)',
 'Rome',
 'Hong Kong',
 'Mazatlan',
 'Brussels',
 'Brasilia',
 'Hawaii',
 'La Paz',
 'America/New_York',
 'Tokyo',
 'New Caledonia',
 'Solomon Is.',
 'Stockholm',
 'Monterrey',
 'Midway Island',
 'Casablanca',
 'America/Atikokan',
 'Sydney',
 'Tehran',
 'Eastern Time (US & Canada)',
 'Perth',
 'Berlin',
 'Sarajevo',
 'Warsaw',
 'America/Detroit',
 'Lima',
 'Kuala Lumpur',
 'West Central Africa',
 'Adelaide',
 'Seoul',
 'Bern',
 'Saskatchewan',
 'Indiana (East)',
 'Pretoria',
 'Atlantic Time (Canada)',
 'Lisbon',
 'Tijuana',
 'Dublin',
 'Canberra',
 'Mid-Atlantic',
 'EST',
 'Prague',
 'Buenos Aires',
 'Bangkok',
 'London',
 'Brisbane',
 'Kyiv',
 'Edinburgh',
 'Bucharest',
 'Greenland',
 'New Delhi',
 'Arizona',
 'Irkutsk',
 'Nairobi',
 'Newfoundland',
 'Copenhagen',
 'Abu Dhabi',
 'Central America',
 'Amsterdam',
 'Melbourne',
 'America/Chicago',
 'Central Time (US & Canada)',
 'Jerusalem',
 'America/Los_Angeles',
 'Vienna',
 'Caracas',
 'Guam',
 'Singapore',
 'America/Boise',
 'Helsinki',
 'Athens',
 'Mexico City'}

In [9]:
for sentiment in Tweets["airline_sentiment"]:
    if sentiment == 'positive' or sentiment=='neutral':
        sentiment = 0
    else :
        sentiment = 1

In [10]:
Tweets.head()

,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,user_timezone
0,neutral,1.0000,Virgin America,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,Eastern Time (US & Canada)
1,positive,0.3486,Virgin America,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,Pacific Time (US & Canada)
2,neutral,0.6837,Virgin America,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,Central Time (US & Canada)
3,negative,1.0000,Virgin America,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,Pacific Time (US & Canada)
4,negative,1.0000,Virgin America,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,Pacific Time (US & Canada)

In [11]:
# Setting Labels as 0 and 1 
Tweets["airline_sentiment"] = Tweets["airline_sentiment"].map({'neutral' : 0, 'positive' : 0, 'negative' : 1})

In [12]:
Tweets.head()

,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,user_timezone
0,0,1.0000,Virgin America,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,Eastern Time (US & Canada)
1,0,0.3486,Virgin America,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,Pacific Time (US & Canada)
2,0,0.6837,Virgin America,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,Central Time (US & Canada)
3,1,1.0000,Virgin America,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,Pacific Time (US & Canada)
4,1,1.0000,Virgin America,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,Pacific Time (US & Canada)

## Removing StopWords

In [13]:
from nltk.corpus import stopwords

In [14]:
stop = stopwords.words('english')

In [15]:
import string
punc = list(string.punctuation)
stop_words = stop + punc
new_tweet_text = []
word_dic = []
for text in Tweets['text']:
    new_text = []
    #Text = list(map(lambda x : x.lower(),text.split()))
    for word in text.split():
        if word.lower() not in stop_words:
            new_text.append(word.lower())
            word_dic.append(word.lower())
    new_text = " ".join(new_text)
    new_tweet_text.append(new_text)
    
Tweets['text'] = new_tweet_text

In [16]:
Tweets["text"]

0                           @virginamerica @dhepburn said.
1        @virginamerica plus added commercials experien...
2        @virginamerica today... must mean need take an...
3        @virginamerica really aggressive blast obnoxio...
4                      @virginamerica really big bad thing
5        @virginamerica seriously would pay $30 flight ...
6        @virginamerica yes, nearly every time fly vx ‚Äú...
7        @virginamerica really missed prime opportunity...
8                  @virginamerica well, didn't‚Ä¶but do! :-d
9        @virginamerica amazing, arrived hour early. go...
10       @virginamerica know suicide second leading cau...
11       @virginamerica &lt;3 pretty graphics. much bet...
12       @virginamerica great deal! already thinking 2n...
13       @virginamerica @virginmedia i'm flying #fabulo...
14                                  @virginamerica thanks!
15              @virginamerica sfo-pdx schedule still mia.
16       @virginamerica excited first cross country fli...
17       @virginamerica flew nyc sfo last week fully si...
18                           ‚ù§Ô∏è flying @virginamerica. ‚ò∫Ô∏èüëç
19       @virginamerica know would amazingly awesome? b...
20       @virginamerica first fares may three times car...
21       @virginamerica love graphic. http://t.co/ut5gr...
22       @virginamerica love hipster innovation. feel g...
23       @virginamerica making bos&gt;las non stop perm...
24       @virginamerica guys messed seating.. reserved ...
25       @virginamerica status match program. applied t...
26       @virginamerica happened 2 ur vegan food option...
27       @virginamerica miss me? worry we'll together s...
28       @virginamerica amazing can't get cold air vent...
29       @virginamerica lax ewr middle seat red eye. no...
                               ...
14610    @americanair understand weather issue can't ex...
14611    @americanair guarantee retribution? so, i'd gl...
14612    @americanair friend flight cancelled flightlat...
14613    @americanair used "call back" feature operator...
14614    @americanair need work tomorrow 8am, therefore...
14615    @americanair ugh dump us dfw w/no luggage canc...
14616    @americanair cancelled flights flight, send em...
14617                  @americanair dming now! big thanks.
14618    @americanair 3078 overweight pull 2 dozen pass...
14619    @americanair love company staff amazing. made ...
14620    @americanair wait 2+ hrs cs call back flt cxld...
14621    @americanair i've hold 55 mins cancelled fligh...
14622    need place sleep land without accommodations p...
14623    @americanair love new planes jfk-lax run. mayb...
14624    @americanair call chairman, call emerald. toda...
14625    @americanair flight 236 great. fantastic cabin...
14626    @americanair flight 953 nyc-buenos aires delay...
14627    @americanair flight cancelled flightled, can't...
14628    thank you. ‚Äú@americanair: @jlhalldc customer r...
14629    @americanair change flight phone system keeps ...
14630                             @americanair thanks! is.
14631    @americanair thx nothing getting us country ba...
14632    ‚Äú@americanair: @tilleymonsta george, look good...
14633    @americanair flight cancelled flightled, leavi...
14634                       @americanair right cue delaysüëå
14635     @americanair thank got different flight chicago.
14636    @americanair leaving 20 minutes late flight. w...
14637    @americanair please bring american airlines #b...
14638    @americanair money, change flight, answer phon...
14639    @americanair 8 ppl need 2 know many seats next...
Name: text, Length: 14640, dtype: object

In [17]:
Tweets.head()

,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,user_timezone
0,0,1.0000,Virgin America,@virginamerica @dhepburn said.,2015-02-24 11:35:52 -0800,Eastern Time (US & Canada)
1,0,0.3486,Virgin America,@virginamerica plus added commercials experien...,2015-02-24 11:15:59 -0800,Pacific Time (US & Canada)
2,0,0.6837,Virgin America,@virginamerica today... must mean need take an...,2015-02-24 11:15:48 -0800,Central Time (US & Canada)
3,1,1.0000,Virgin America,@virginamerica really aggressive blast obnoxio...,2015-02-24 11:15:36 -0800,Pacific Time (US & Canada)
4,1,1.0000,Virgin America,@virginamerica really big bad thing,2015-02-24 11:14:45 -0800,Pacific Time (US & Canada)

In [18]:
from nltk.stem import SnowballStemmer

In [19]:
stemmer = SnowballStemmer('english')
stemmed_words = [stemmer.stem(text) for text in Tweets['text']]
Tweets['text'] = stemmed_words

In [20]:
Tweets.head()

,airline_sentiment,airline_sentiment_confidence,airline,text,tweet_created,user_timezone
0,0,1.0000,Virgin America,@virginamerica @dhepburn said.,2015-02-24 11:35:52 -0800,Eastern Time (US & Canada)
1,0,0.3486,Virgin America,@virginamerica plus added commercials experien...,2015-02-24 11:15:59 -0800,Pacific Time (US & Canada)
2,0,0.6837,Virgin America,@virginamerica today... must mean need take an...,2015-02-24 11:15:48 -0800,Central Time (US & Canada)
3,1,1.0000,Virgin America,@virginamerica really aggressive blast obnoxio...,2015-02-24 11:15:36 -0800,Pacific Time (US & Canada)
4,1,1.0000,Virgin America,@virginamerica really big bad th,2015-02-24 11:14:45 -0800,Pacific Time (US & Canada)

In [21]:
stemmer.stem(Tweets.iloc[0,3])

'@virginamerica @dhepburn said.'

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
count_vec = CountVectorizer(stop_words= stop_words)
words_data_freq = count_vec.fit_transform(Tweets["text"])
words_data_freq = words_data_freq.todense()

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(words_data_freq,Tweets['airline_sentiment'])

In [26]:
from sklearn.naive_bayes import MultinomialNB

In [27]:
clfNB = MultinomialNB()
clfNB.fit(X_train, Y_train)
predn = clfNB.predict(X_test)

In [28]:
clfNB.score(X_test, Y_test)

0.81912568306010924

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, make_scorer

In [30]:
clfRF = RandomForestClassifier()
grid = { 'max_depth' : [1,5,10,50,100],
       'criterion' : ["gini", "entropy"],
       'n_estimators': [1,10,50,100]}
RF = GridSearchCV(clfRF,grid)
RF.fit(X_train,Y_train)

final_RF = RF.best_estimator_
print(final_RF)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=100, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
final_RF.fit(X_train,Y_train)
final_RF.score(X_test,Y_test)

0.80382513661202182

In [32]:
from sklearn.svm import SVC

In [ ]:
clfSVM = SVC()
grid = {'kernel' : ['linear']}
SVM = GridSearchCV(clfSVM,grid)
SVM.fit(X_train,Y_train)

final_SVM = SVM.best_estimator_
print(final_SVM)

In [ ]:
final_RF.fit(X_train,Y_train)
final_SVM.score(X_test,Y_test)